<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand " href="#">
      Alarm Editor
    </a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href='#alarm_prio' data-toggle="dropdown" class="dropdown-toggle">Приоритеты <span class='caret'></span></a>
        <ul class="dropdown-menu">
          <li><a href='#alarm_prio/1'>Приоритет HIGH</a></li>
          <li><a href='#alarm_prio/2'>Приоритет MEDIUM</a></li>
          <li><a href='#alarm_prio/3'>Приоритет LOW</a></li>
          <li><a href='#alarm_prio/4'>Приоритет LOGGING</a></li>
        </ul>
      </li>
      <li><a href='#block'>Блоки</a></li>
      <li><a href='#alarm_attach'>Принадлежность</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
    </ul>
  </div>
</nav>