<div style='width: 400px;'>
  <div class='row'>
    <div class='col-md-7'>
      <input class='form-control'>
    </div>
    <div class='col-md-5'>  
      <button class="btn btn-primary">Добавить</button>
    </div>
  </div>
<br>
  <div id='sticky' style='background-color: gray'>
    <div class='row' >
      <div class='col-md-8'>
        Название
      </div>
      <div class='col-md-4'>  
        Приоритет
      </div>
    </div>
  </div>

<%
phoxy.Defer(function()
{
  $('button')
    .click(function()
    {
      $(this).prop('disabled', true);
      var input = $(this).parents('.row').find('input');
      var name = input.val();
      phoxy.AJAX('block/Add?name=' + encodeURIComponent(name), function()
      {
        input.val('');
        $(this).prop('disabled', false);
        phoxy.ApiAnswer({reset: true});
      });
    });
});
%>

<%
for (var k in blocks)
{
  var v = blocks[k];
%>
  <div class='row' >
    <div class='col-md-8'>
      <%= v.name %>
    </div>
    <div class='col-md-4'>  
      <input class='form-control' value='<%= v.prio %>' disabled>
    </div>  
  <div>
<%
}
%>
</div>
