<button class='btn'>Добавить</button>
<input placeholder='Имя' style='width: 200px'>
<br><br>
<table class='table table-striped'>
<th>
  <td>ID</td>
  <td>Имя</td>
  <td>Приоритет</td>
</th>
<%
for (var k in blocks)
{
  var v = blocks[k];
%>
<tr>
  <td>
    <%= v.ID %>
  </td>
  <td>
    <%= v.NAME %>
  </td>
  <td>
    <input class='form-control' value='<%= v.BLOCK_PRIORITY %>'>
  </td>
</tr>
<%
}
%>

</table>

<%
phoxy.Defer(function()
{
  $('#content button').first().click(function()
  {
    var name = $(this).next().val();
  })
  .tooltip({'title': 'В разработке'});
});
%>