<div class='prio_table'>
<div class='row'>
  <div class='col-md-4'></div>
  <div class='col-md-8'>
    <div class='row'>
<% for (var k in types)
{
  var v = types[k];
%>
  <div class='col-md-1' style='min-width: 50px;'>
  <%= v.name %>
  </div>
<%  
}
%>
    </div>
  </div>
</div>
  

<% for (var k in tags)
{
  var v = tags[k];
  v.types = types;
  
  //if (v.name == 'A_AVU-3')
  //break;
  var cb = undefined;
  if (k == tags.length - 1)
    cb = function()
    {
      $('#content .row')
        .each(function(index)
        {
          var that = this;
          phoxy.Defer(function()
          {
            $(that).trigger('mouseenter')
          }, 7 * index);
        });
    };
%>
  <%= phoxy.DeferRender('tag_trap', {v: v}, cb) %>
<%  
}
%>

<%
phoxy.Defer(function()
{
  $('table tr td div[data-type="tag_name"]').each(function()
  {
    $(this).tooltip();
  });
  
});
%>
</div>