<div class='row'>
  <div class='col-md-3'>-</div>
<% for (var k in types)
{
  var v = types[k];
%>
  <div class='col-md-1' style='min-width: 50px;'>
  <%= v.name %>
  </div>
<%  
}
%>
</div>

<% for (var k in tags)
{
  var v = tags[k];
  v.types = types;
  
  if (v.name == 'A_AVU-3')
    break;
%>
  <%= phoxy.DeferRender('tag', v) %>
<%  
}
%>

<%
phoxy.Defer(function()
{
  $('table tr td div[data-type="tag_name"]').each(function()
  {
    $(this).tooltip();
  });
});
%>