<table class='table table-striped'>
<tr>
  <th>-</th>
<% for (var k in types)
{
  var v = types[k];
%>
  <th style='min-width: 50px;'>
  <%= v.name %>
  </th>
<%  
}
%>
</tr>

<% for (var k in tags)
{
  var v = tags[k];
%>
  <tr>
  <td>
    <div data-type='tag_name' title='<%= v.description %>'>
      <%= v.name %>
    </div>
  </td>
  <% for (var k1 in types)
  {
    var ty = types[k1];
    //console.log(ty, v.values);
    if (typeof(v.values[ty.name]) != 'undefined')
      v1 = v.values[ty.name];
    else
      v1 = {priority: null};
  %>
    <td>
<%
    if (v1.priority != null)
    {
%>
    <%= phoxy.DeferRender('input', v1) %>
<%
    }
%>
    </td>
  <%  
  }
  %>  
  </tr>
<%  
}
%>

</table>

<%
phoxy.Defer(function()
{
  $('table tr td div[data-type="tag_name"]').each(function()
  {
    $(this).tooltip();
  });
});
%>